[2018-12-04 17:51] tiagocoutinho opened #6 "Unable to specify IP address in multivisor.conf"
IP addresses in multivisor.conf are not recognized. Example:
[code]

[2018-12-05 10:08] #6 closed

[2018-12-05 10:11] tiagocoutinho opened #8 "Add login capabilities"
Add capability to optionally demand login access.
Ideally with LDAP connection option.

[2018-12-06 17:43] tiagocoutinho opened #9 "Web icons and fonts don't appear when there is no internet connection"
It seems web app is depending on external source of icons and fonts.

[2019-01-12 15:09] tiagocoutinho commented on #9
Probably just need to:
* `npm install --save material-design-icons-iconfont`
* add `iconfont: 'mdi'` to the Vuetify constructor.

[2019-01-31 13:04] laurent-claustre opened #11 "npm install failed"
Hi Tiago,
I did use a cond env python 2.7, install conda package nodejs and then run:
npm install
Got the error
npm ERR! code EPROTO
npm ERR! errno EPROTO
npm ERR! request to https://registry.npmjs.org/acorn/-/acorn-4.0.13.tgz failed, reason: write EPROTO 140055286269760:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../deps/openssl/openssl/ssl/record/ssl3_record.c:252:
npm ERR!

[2019-01-31 13:12] tiagocoutinho commented on #11
Hi Laurent, thanks for the report.

Where does npm come from? Did you install it with conda or is it a debian package.

[2019-01-31 13:18] laurent-claustre commented on #11
Hi Tiago,
conda package nodejs
nodejs                    10.13.0              he6710b0_0

[2019-01-31 15:12] laurent-claustre commented on #11
Hi again, maybe not a good idea to rebuild the webpack bundles. in the meantime I did use the pypi package you provide, it works fine. Now we have to change our ansible recipe to replace supervisor from system to the one installed in the common python env with supervisor.

[2019-02-01 06:51] laurent-claustre commented on #11
Hi, no I mean running npm install; npm run build

[2019-02-05 09:42] laurent-claustre opened #12 "supervisorctl reload failed restarting supervisord"
Hi Tiago,

testing with the examples you provide, supervisorctl reload did crash the supervisord deamon.
I did start supervisord in foreground and get the following:

No handlers could be found for logger "MVRPC"
2019-02-05 10:35:11,607 INFO stopped: vacuum_OH2_1 (terminated by SIGTERM)
2019-02-05 10:35:11,607 INFO stopped: vacuum_OH2_2 (terminated by SIGTERM)
2019-02-05 10:35:11,607 INFO stopped:

[2019-02-05 12:11] laurent-claustre commented on #12
sorry, i forget to tell you, removing the entry [rpcinterface:multivisor] fix the issue.

[2019-02-07 07:54] tiagocoutinho commented on #12
Thanks for the report @laurent-claustre. Looks like a problem in multivisor rpc interface.
I am having a look at it

[2019-02-07 08:33] tiagocoutinho commented on #12
Bang! I can reproduce it. Keep you informed of my progress.
Looks like a problem in either zeromq or zerorpc.

[2019-02-09 15:43] tiagocoutinho commented on #12
Regarding the supervisord crash:
The multivisor RPC runs in a separate thread because it is gevent based. When you hit reload, the multivisor RPC along with its thread are destroyed and a new one is created.
As far as I could see I seems to be the destruction that causes the problem.

So far I have failed to reproduce the problem with a simple zerorpc server.

We have two options:
1. internally, w

[2019-02-10 14:26] laurent-claustre commented on #12
Hi Tiago, ok for option 1, I need a first fix in order to get our ansible recipe accepted  by our team.
Thanks a lot for your help.

[2019-02-12 13:56] tiagocoutinho commented on #12
Here is what I found so far:
1. when you run `reload` in *supervisorctl* actually it invokes a `restart` in *supervisord* (don't ask me why :-)
2. seems zerorpc server does not restart properly. I created an issue (see 0rpc/zerorpc-python#208)
3. when you ask *supervisord* to restart, it closes **all** file descriptors from 5..1024. This is absolutely insane. This means it also kills the file desc

[2019-02-12 14:18] laurent-claustre commented on #12
hummm, I understand in the meantime we could disable reloading supervisord in our ansible recipe till you can provide the release 5.0.1.
Thanks a lot again.

[2019-02-12 16:48] tiagocoutinho commented on #12
@laurent-claustre ,I just released 5.0.1.
Could you have a try and let me know if
* the restart problem is fixed
* the stop problem is fixed

Thanks in advance

[2019-02-12 18:31] laurent-claustre commented on #12
I did test it, reload is no more crashing supervisord.
But, now multivisor complains about 'lost connection'
60.103.228.145 - - [2019-02-12 19:17:41] "GET /data HTTP/1.1" 200 324 0.000946
INFO 2019-02-12 19:17:49,497 multivisor.lmpx4: Lost remote
INFO 2019-02-12 19:17:49,497 multivisor.lmpx4: (re)initializing...
INFO 2019-02-12 19:18:04,501 multivisor.lmpx4: Lost remote
INFO 2019-02-12 19:18:04,50

[2019-02-12 20:36] tiagocoutinho commented on #12
In which host are you running multivisor? Is it lmpx4?
Did you update multivisor on all hosts?

[2019-02-12 20:56] laurent-claustre commented on #12
yes on lmpx4, only, ok tomorrow I will make a try with just your example of conf.

[2019-02-12 21:13] tiagocoutinho commented on #12
I had a look at lmpx4 logs. It looks strange.
It is as if the RPC is not accepting any connections
Do you mind if I login to lmpx4 tomorrow and make a few tests?

[2019-02-13 13:24] laurent-claustre commented on #12
No problem Tiago, you can make some tests.

[2019-02-13 16:24] laurent-claustre commented on #12
did you fix something in multivisor env in blissadm account? now it works fine

[2019-02-13 17:09] laurent-claustre commented on #12
ok, i think the problem was when i did add the multivisor.conf file into ~blissadm/local/daemon/config/supervisor.d/ and use supervisorctl reload (again). multivisor is well started but complained about 'lost connection'. To fix the problem I did restart supervisor with the service command (service supervisor restart).
Anyway, we can leave with service command (need to be root of course) in the an

[2019-02-13 18:38] tiagocoutinho commented on #12
I logged in to lmpx4. I noticed the problem you mentioned. I added some logging and then I tried to restart supervisor with `service supervisor restart`. After that the problem disappeared.

After reload with supervisorctl are things still working?

Hint: you can use multivisor web page, in the supervisor tab, each panel as a menu where you can "restart" the respective supervisor. It does the same

[2019-02-14 07:10] laurent-claustre commented on #12
yes.
Think for the hint.
A last little thing, with supervisorctl you can tail on the stdout of the process, within multivisor web if I click for instance my maxipix icon to get log, the log page is empty? Did I missconfigure something?

[2019-02-14 07:18] tiagocoutinho commented on #12
No, it is another bug I noticed already. I am working on it right now :-)

[2019-02-14 08:26] tiagocoutinho opened #14 "Log doesn't work"
Clicking on the process log (stdout or stderr) shows empty log

Tested with multivisor 5.0.0 and 5.0.1

[2019-02-14 08:29] tiagocoutinho commented on #12
I created a new issue for this #14.
I already found the problem. Building a 5.0.2 soon!

[2019-02-14 08:30] #14 closed

[2019-02-14 08:49] tiagocoutinho opened #16 "web: process info is not updated"
When I press process information, the panel shows up with old information.

It would be nice to trigger an process information update each time the user wants to see process information.

[2019-02-14 08:50] tiagocoutinho opened #17 "web: add tooltip to restart and update supervisor menu actions"

[2019-02-14 08:58] tiagocoutinho commented on #11
Since 5.0.1 I updated all dependencies (it solves some security issues).
It should work now.
If you have time to test it would be great. If not, I can close this one and we reopen it if necessary

[2019-02-14 08:59] tiagocoutinho opened #18 "Missing CHANGELOG"
Project should have a change log.

[2019-02-14 09:09] tiagocoutinho opened #19 "Configuration editor capabilities"
It would be great if you could add supervisor configuration capabilities on the web.
There are some safety issues with this one. Still I think it would be nice if they are solved (probably involves implementing #8)

## Features

* [ ] WEB / CLI forms to:
  * [ ] add, modify or remove process
  * [ ] add, modify or remove groups
  * [ ] add, modify or remove event listeners
  * [ ] change superviso

[2019-02-14 09:29] tiagocoutinho commented on #12
If you agree I can close this issue

[2019-02-14 10:38] tiagocoutinho opened #20 "disable screen when multivisor offline"
Make a warning / disable page when multivisor is offline.

If a specific supervisor is offline, the supervisor panel should show up disabled with an empty list of processes

[2019-02-14 12:22] laurent-claustre commented on #11
Yes, I just tested with 5.0.2, and it works fine. sysadmin did work on removing the proxy setting. So troubles was certainly due to that.
You close it.
Thanks

[2019-02-14 12:22] #11 closed

[2019-02-14 12:26] laurent-claustre commented on #12
ok I can even close it myself. and I will download the 5.0.2 asap it is available.
Many many thanks for the fixes

[2019-02-14 12:26] #12 closed

[2019-03-05 02:04] bbjay opened #21 "Exception in thread RPCServer"
[code]

[code]

[code]

[2019-03-14 21:27] guy881 commented on #8
Hello @tiagocoutinho! Amazing project, thank you! I would like to help with this one.

[2019-03-15 07:13] tiagocoutinho commented on #8
Great @guy881! Welcome to the project.
Do you need any help? Feel free to make any suggestions.
The only feature I would really like is to have optional LDAP connection

[2019-03-19 19:54] Fantomas42 opened #22 "Separate components"
Hello,

first of all, great project great work.

I'm here for a simple suggestion. What do you think of splitting the web-server, the cli and the RPC interface into different packages ?

I suspect it will be less easy for you for the maintenance and the development, but Multivisor has a lot of dependencies, and your the architecture is made to be decentralized.

Example: I install the RPC interfac

[2019-03-24 19:52] tiagocoutinho commented on #22
@Fantomas42, thanks for the suggestion.

I did put some thought into splitting the installation by taking advantage of [setuptools extras](https://setuptools.readthedocs.io/en/latest/setuptools.html?highlight=extras#declaring-extras-optional-features-with-their-own-dependencies).
You would be able to install just the RPC with `pip install multivisor[RPC]` for example.

The advantage is that we wou

[2019-03-25 23:31] guy881 commented on #8
Thank you @tiagocoutinho!
Actually at first I thought about it, as just another web application authentication, but this one is somehow different, as there is no database. :)
I guess we can store username and password in multivisor configuration file, similarly to supervisor. In supervisor.conf file password can be either a plain string or a SHA-1 hash. However SHA-1 is no longer secure, so maybe

[2019-03-27 21:53] guy881 opened #23 "Vue in development mode is redirecting all requests"
Hey, I'm running the application for development purpose as suggested in development mode section in readme. I tried to add a new view to the application, but it seems that `proxyTable` configuration is redirecting all requests to `localhost:22000` where production ready version is running, so I am unable to add new view without building the app. If I turn off multivisor on 22000 I get error:

`[H

[2019-03-28 07:35] tiagocoutinho commented on #23
Thanks for reporting.
I agree. Would you be willing to make a PR?

[2019-03-28 07:38] tiagocoutinho commented on #8
Good suggestion.

LDAP might be more complicated. Since you don't need it yourself, I propose you implement the simple *supervisor like* login capability.

We can make another issue in the future to add LDAP.

[2019-03-28 08:42] guy881 commented on #23
Great, I will work on that. :)

[2019-03-29 01:46] kontact-chan commented on #8
To start with simple multivisor configuration file based user/password is good enough. Same way supervisor does. Keeping the dashboard password protected is a necessary feature, since the dashboard has stop/restart capability.

[2019-03-29 19:41] Fantomas42 commented on #22
@tiagocoutinho

after reading the documentation, it's seems to be the better solution.

How can I help you in this direction ?

How do you want to install the project ? Or by default what should be installed if I do ?

`pip install multivisor`

[2019-03-31 12:43] bxlkm opened #25 "pip install error"
error: can't copy 'multivisor/server/dist/static': doesn't exist or not a regular file

    ----------------------------------------
Command "/usr/bin/python2 -u -c "import setuptools, tokenize;__file__='/tmp/pip-req-build-F25sdy/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-recor

[2019-03-31 13:05] tiagocoutinho commented on #25
Hi @bxlkm,
Thanks for the report.

Could you describe in more detail the steps to reproduce the problem?

Specifically:
* which version of multivisor
* did you get the source from github or pypi
* python version
* are you using a virtual environment? or are you installing directly in the system as root?

[2019-03-31 14:16] bxlkm commented on #25
fix setup.py.
 package_data={'multivisor.multivisor.server': ['dist/*',
                                        'dist/static/css/*',
                                        'dist/static/js/*']},
Modify the directory multivisor.server to multivisor.multivisor.server through installation。

[2019-04-04 10:23] tiagocoutinho commented on #22
We could break the project into:

* `pip install multivisor[rpc]`
* `pip install multivisor[web]`
* `pip install multivisor[cli]`

I am tempted to say `pip install multivisor` should install everything as before. There is no backward installation compatibility we have to stick to so, if you think it doesn't make sense, feel free to propose some other default.

FYI, using this approach I was able t

[2019-04-08 17:13] guy881 commented on #8
@tiagocoutinho, let me ask for your advice. I implemented quite simple authentication based on flask sessions, but now I wonder whether it was a good idea. Right now I am using local storage to keep `isAuthenticated` flag, I use it to disable all the pages except login in client app and to show "logout" option in menu. Because I am using local storage, this flag can easily be modified in the brows

[2019-04-09 19:07] Fantomas42 commented on #22
Okay, I will give a try.

[2019-04-09 19:27] mightydok opened #26 "CLOSE_WAIT socket error"
Multivisor after 2 days lost one of 4 supervisord servers.
As i see 9002 port was in CLOSE_WAIT state and only one solution is full restart of supervisord.
How i can find a problem with rpc plugin?

[2019-04-10 16:03] #23 closed

[2019-04-11 13:18] dtackinc commented on #25
hi, Multivisor looks very nice! I'm looking forward to trying it out.

I am getting the same error as the OP on install.
I'm cloned multivisor from github today (April 11, 2019).
Python version is 2.7
Not using a virtual environment.
I'm using a docker image (see Dockerfile attached).

Any help, hints or tips appreciated!

If I make the change mentioned by bxlkm for multivisor.multivisor.server (s

[2019-04-13 17:15] guy881 commented on #8
@tiagocoutinho, I've made a pull-request, I am asking you for a review. :)
In the end, I haven't used local storage for `isAuthenthicated` flag. Instead I am getting this data from backend on a new endpoint `/api/auth` and I am still using flask session.

[2019-04-14 15:12] guy881 opened #29 "Backend server hot reload in development mode"
Hello, when running multivisor web server with command `python -m multivisor.server.web -c multivisor.conf` and with flask env variable `FLASK_ENV=development` I don't get a server reload after changes in .py files. Which is painful of course, because I keep on forgetting about reloading it manually. I can see that project is using WSGI server from `gevent.pywsgi module`:
[code]
I tried to replace

[2019-04-14 18:54] guy881 commented on #25
Hi @dtackinc, I wasn't able to run your Dockerfile as it is using probably your private image "ce7". I tried running it with centos 7 image, but it didn't know the packages you intended to install.
Instead, I changed your Dockerfile to use `python:2.7` image and pip install goes smoothly:

[code]
Although I can confirm that I was also unable to get anything else than 404. I've checked and this is

[2019-04-14 19:17] guy881 opened #31 "Python 3 support"
Hello, I am happy to say that supervisor is finally supporting Python 3! https://github.com/Supervisor/supervisor/issues/1060

Python 2.7 will be maintained only till end of 2019, so I think it's crucial to provide python 3 support. I can work on this issue.

[2019-04-15 13:26] dtackinc commented on #25
hi @guy881
Thanks for fixing the api routing and for sharing your dockerfile.  It worked fine and allowed us to continue our review and evaluation here at MaxIV in Lund.
Best regards!
David

[2019-04-16 08:50] YJiWei opened #33 "python2.6.6 pip install -U pip Error occurred"
#=============================================
environment：centos6.9,python2.6.2
can you help me? Seek the help of the big man。
#=============================================
# pip install -U pip
Traceback (most recent call last):
  File "/usr/bin/pip", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.6/site-packages/pkg_resources/__init__.py", line 959,

[2019-04-16 11:08] dtackinc commented on #33
I also get some problems with centos6 and python 2.6.  I think a different message than this.  I'll be watching this thread to see what comes up!  Thanks, David

[2019-04-18 07:16] anthosz opened #34 "Adding basic auth"
Hello,

Is it possible to add basic auth (or/and IP filter) on multivisor (I mean without reverse proxy like apache, varnish, etc..)?

The goal is to avoid to have a public dashboard available on all the network.

Best regards,

[2019-04-20 17:14] tiagocoutinho commented on #29
I understand your frustration. It is completely reasonable.
The thing is you definitively need to run a gevent WSGI. Main reason is the underlying ZeroRPC library is based on gevent. When you implement a coroutine based solution you need to go coroutine 100%.

Searching a bit on the web the closest solution I could find was this [gist](https://gist.github.com/syfun/de17b0a50ba4625e277595f8a079ebf4

[2019-04-20 17:22] tiagocoutinho commented on #21
@bbjay,
Thanks for reporting. Sorry for taking so long to give feedback.
It should be fixed by 52f4fb7.
Should become visible in next multivisor 5.0.3

[2019-04-20 17:22] #21 closed

[2019-04-20 17:30] tiagocoutinho commented on #31
@guy881,
Thanks for the news and for volunteering.
Support for python 3 would be greatly appreciated.
Feel free to work on it. I will be happy to review a PR

[2019-04-20 17:53] tiagocoutinho commented on #33
Ok, so a couple of things:
* I should have written down somewhere and make it clear on setup.py that multivisor needs python >= 2.7 (work in active to support python 3. See #31).
* Even if we solve this particular error, I cannot make any guarantees that multivisor works on python 2.6 (some of the dependencies like flask, gevent or zerorpc might not work)

Looks like this particular problem is not

[2019-04-22 13:37] anthosz commented on #34
Apparently solution is in PR #28 :)

[2019-04-22 13:38] anthosz commented on #8
Hi,

Can you support also CAS or github auth by example?

Best regards,

[2019-04-22 13:39] anthosz commented on #34
Can be closed, more details already exist on issue #8

[2019-04-22 13:39] #34 closed

[2019-04-23 16:19] guy881 commented on #29
Thanks a lot for your explaination @tiagocoutinho. I will have a look and let you know.

[2019-04-24 07:05] kontact-chan commented on #8
fantastic @guy881 . Get the login merged. I would be first person to test this in our production environment.

[2019-04-30 06:26] tiagocoutinho commented on #8
Issue solved by PR #28. I will close this

[2019-04-30 06:26] #8 closed

[2019-04-30 06:50] anthosz commented on #8
Dear @tiagocoutinho ,

When will be merged into master (next release)?

Best regards,

[2019-04-30 22:49] guy881 commented on #31
@tiagocoutinho
One of the blockers here is louie which still hasn't got Python 3 compatible version on PyPI, although codebase is ready since 2016. https://github.com/11craft/louie/issues/6

The other problem I am facing right now is associated with zerorpc Client functions: `getAllProcessInfo` and `event_stream`, when using supervisor which runs on Python 2.7 we get dictionaries with keys and val

[2019-05-03 13:36] guy881 commented on #20
Working on this right now. ;)

[2019-05-04 17:54] tiagocoutinho commented on #20
you're the best!  :thumbsup:

[2019-05-04 17:54] tiagocoutinho commented on #33
I am closing this since it doesn't seem to be directly related to multivisor

[2019-05-04 17:54] #33 closed

[2019-05-04 18:18] tiagocoutinho commented on #29
Issue fixed in develop branch
Will become visible in next release

[2019-05-04 18:18] #29 closed

[2019-05-04 18:20] tiagocoutinho commented on #25
Ok, I am closing this issue since #30 seems to have fixed it.

[2019-05-04 18:20] #25 closed

[2019-05-05 06:14] tiagocoutinho opened #38 "Web is not aware when multivisor dies"
I had a closer look at #37 and it seems the connection is only checked when the webapp is created on the browser.

I think we can improve this by reacting immediately when the server dies.

I propose to listen to the SSE *onerror* and *onopen* events (see src/multivisor.js:35 - the *streamTo* function)

[2019-05-05 06:28] tiagocoutinho commented on #31
I propose:
1. wait and see if the louie team reacts to your request
2. if there is no response in a week assume the project is stalled and replace louie with another dispatcher ([blinker](https://pythonhosted.org/blinker/) for example)

Not sure I understand: on python 2.7, *bytes* and *str* are the same. I guess you are running into trouble with python 3. Could you send a traceback of the problem

[2019-05-05 07:07] tiagocoutinho commented on #31
Concerning zerorpc:
I had a closer look and it seems zerorpc configures msgpack in a way that it respects the data type you send it.

I think now I understand what you mean:
* supervisor runs on python 2.7; supervisor process info is encoded with fields being bytes
* multivisor runs on python 3; it decodes process info and sees bytes

On python 2 this didn't matter but on python 3 it becomes an er

[2019-05-05 20:22] guy881 commented on #31
@tiagocoutinho thanks a lot for investigating this issue! :+1:
Exactly, supervisor runs on 2.7, multivisor on python 3 and here it becomes an error.

Your proposed patch seems reasonable, but I'm having trouble implementing it.
I found `server_after_exec` hook in zerorpc, however it seems that when using stream decorator we cannot modify event there. From code:

[code]
Which is a shame, because we

[2019-05-05 20:25] guy881 commented on #38
That's great news, I haven't knew about this events. I will try to improve it, you can assign me @tiagocoutinho. :wink:

[2019-05-05 20:34] guy881 opened #41 "Configure and implement basic unit tests"
Lack of tests is painful. I believe that even basic tests would improve our workflow. Especially it would help with testing on multiple versions of Python.
I am using pytest on a daily basis and I prefer it over unittest for it's simple syntax and less boilerplate code, but that's only my proposition, I am open for others.

I am eager to work on this issue, as it will help me out with testing Pyth

[2019-05-05 20:44] guy881 opened #42 "Configure continuous integration"
After configuring tests (issue https://github.com/tiagocoutinho/multivisor/issues/41) it would be great to make them run automatically on supported versions of Python.
It would be good to also run flake8 and maybe isort?

I find Travis CI easy to configure and it's well integrated with GitHub.

[2019-05-06 12:21] anthosz opened #43 "Unable to connect multivisor to supervisor protected by password"
Hi,

If I try to use credentials to protected supervisor, doesn't works.

Example:
I try with multivisor.conf:

And with multivisor.conf:

Doesn't works.

You can see the output logs here:

[2019-05-06 12:41] guy881 commented on #43
Hello @anthosz!
Right now you can turn on authentication in multivisor, so for example in `multivisor.conf`:
[code]
You also need to set `MULTIVISOR_SECRET_KEY` environmental variable, if you don't then you'll get an error.

I am not sure what exactly are you trying to achieve by specifying username and password in supervisor block. Multivisor is not using http server of supervisor, it is using it

[2019-05-06 13:06] anthosz commented on #43
I mean:

I have multiple supervisord instance:

- server1:9001
- server2:9001
- server3:9001

You can see the default conf here (bind unrecognized):

My goal is to user multivisor to connect to each existing supervisor instance:

So in multivisor of server1:

[2019-05-06 13:22] anthosz commented on #43
Ok, so if I understand well, I need to deploy multivisor on each server behind supervisord? Multivisor cannot directly connect the http port of supervisord? :/

[2019-05-06 14:03] guy881 commented on #43
supervisor.rpcinterface_factory=supervisor.rpcinterface:make_main_rpcinterface

This is supervisor RPC interface, you need to also setup  the one provided by multivisor:
[code]
In order to do that, you must have multivisor package installed on node with running supervisord.

No, multivisor is using rpc interface instead of http, it allows for more flexibility.

[2019-05-06 14:14] anthosz commented on #43
And it's not possible (or maybe in the roadmap) to use only supervisord http server?

To avoid to add a new service (nodejs) on each node behind supervisor..

Thx!

[2019-05-06 14:24] guy881 commented on #43
Nodejs? You don't need to run any npm commands on supervisor nodes. You only need multivisor package installed by pip on those.
Currently there is a pull request to split dependencies, so basically less python packages will be required to run only multivisor RPC on supervisor node. https://github.com/tiagocoutinho/multivisor/pull/27

[2019-05-07 06:08] tiagocoutinho commented on #43
The following should work:

[code]

and

[code]

# To clarify

* multivisor implements it's own supervisor RPC interface. Unlike the standard supervisor RPC interface, it doesn't support authentication so in `multivisor.conf` you shouldn't configure any credentials since it multivisor doesn't use them
* multivisor RPC is very similar to supervisor RPC. Instead of xmlrpc it uses zerorpc. The most i

[2019-05-07 06:32] tiagocoutinho commented on #38
Thanks @guy881 you help is appreciated.

[2019-05-07 06:37] tiagocoutinho commented on #41
Cool! pytest sounds great. I use it quite often.

For the frontend I am ashamed to say I never tried any of the new unit test libraries/frameworks. I don't know what would work best. We can also postpone it to later.

Does milestone 6.0 sound reasonable to you?

[2019-05-07 06:40] tiagocoutinho commented on #42
Sound good.
I actually prefer gitlab CI but since the project is on github I agree it is better to use Travis.

[2019-05-07 06:44] tiagocoutinho commented on #43
I realized I repeated most of what @guy881 explained before in other words. Sorry for that. I hope I didn't introduce too much noise

[2019-05-07 06:44] guy881 commented on #41
Fantastic! I would do separate issue for implementing frontend or maybe integration tests? Similar as you, I am not familiar with frontend tests yet.

6.0 sounds good. :)

[2019-05-07 06:47] guy881 commented on #43
No, no, it was a good idea to sum things up. Maybe we could also improve README based on what you wrote. ;)

[2019-05-07 06:54] anthosz commented on #43
Dear @tiagocoutinho @guy881,

Thank you for the clarification. It's more clear now :)

Last question for information: so to use [rpcinterface:multivisor] in supervisor.conf, we need supervisord via your repository (it's the last version of supervisord with a plugin or a fork?). We cannot just use supervisord ootb and add like a plugin?

I don't know if I am clear. Tell me if not.

Best regards,

[2019-05-16 19:54] guy881 commented on #41
@tiagocoutinho I've made a pull request with some basic tests and configuration. I will be glad if you have a look. For sure there are more tests to write, but if you don't like the concept, then it doesn't have any sense to write next tests using this config ;)

PR: https://github.com/tiagocoutinho/multivisor/pull/44

[2019-05-17 06:31] laurent-claustre opened #45 "try using mulitvisor over supervisor-win: connection error"
we tested mutivisor over supervisor-win, a fork of supervisor for windows (https://github.com/alexsilva/supervisor).
The recipe on windows was:
 * install conda miniconda3
 * create a new environment with python=2.7
  * pip install multivisor
  * pip uninstall supervisor
  * pip install supervisor-win

The conda package list is:
[code]
We did check there is no port blocking, netstat on windows mac

[2019-05-19 09:46] potoo0 opened #46 "Does it support read childProcess log?"
Does it support read childProcess log?

[2019-05-22 08:09] laurent-claustre commented on #45
any clue?

[2019-05-23 08:36] tiagocoutinho commented on #45
Can you check the supervisor-win log?

In the meantime I will check the supervisor-win project to see if I see something that might interfere with the multivisor-rpc extension.

[2019-05-23 10:16] laurent-claustre commented on #45
supervisor-win log:
[code]
In addition, when starting supervisord.exe and after first multivisor connection try, supervisord.exe prints on stdout the following message:
```No handlers could be found for logger "zerorpc.core" ```

[2019-05-23 18:24] #20 closed

[2019-05-27 19:41] guy881 commented on #46
As far as I know multivisor doesn't  support such feature. Right now it only supports "tail" log (like `tail -f <filename>`). I don't think supervisor RPC allows for reading log of child processes.

Correct me, if I am wrong @tiagocoutinho.

[2019-05-27 19:53] guy881 commented on #43
Hello @anthosz,
As you can read in the README:

Supervisor is specified as a dependency in multivisor requirements. So it will be installed from pip during the installation of multivisor. You can check the version of supervisor in your environment by using `supervisord -v`. You can also check the path to supervisord by typing `which supervisord`.

You cannot use supervisor which would be outside y

[2019-05-28 06:17] tiagocoutinho commented on #46
# Multivisor web
The multivisor web interface allows you to see a `supervisorctl tail -f <process>` like console:
![multivisor_log](https://user-images.githubusercontent.com/2684070/58455016-8746a000-8120-11e9-802c-b02dc57acf98.png)

To show the previous screen, you need to click the process log menu item:
![multivisor_log3](https://user-images.githubusercontent.com/2684070/58455008-80b82880-8120-

[2019-05-28 06:19] tiagocoutinho commented on #26
Could you send the supervisor log files?

If you are running a system installation of supervisor they are in `/var/log/supervisor/supervisord.log`

[2019-05-28 06:27] tiagocoutinho commented on #41
I've just merged #44. It is a great starting point. Thanks for taking care of this

[2019-05-28 06:27] #41 closed

[2019-05-28 07:09] #38 closed

[2019-05-28 08:50] potoo0 commented on #46
Great grateful for your answer.
Please allow me to ask another question: Is there have any ways to rewrite url? Such as `https://myhost.com/superMonitor`。I don't expect that webUI always placed under the root of site. Cause I placed my blog under the root of site.

[2019-05-28 16:29] guy881 commented on #46
You can configure some proxy server like nginx to do that.

[2019-05-28 16:48] guy881 opened #49 "Running development version of multivisor server"
@tiagocoutinho Is it just me, or the way to run multivisor server in README is incorrect?

![image](https://user-images.githubusercontent.com/10159285/58495826-c1dc2700-8178-11e9-8128-d86c5f60d94e.png)

I can run it successfully if I do: `python -m multivisor.server.web -c examples/full_example/multivisor.conf`
I forgot to report it, it's funny that I do this now after a few contributions. :smile:

[2019-05-29 03:24] potoo0 commented on #46
Thanks.

[2019-05-29 03:24] #46 closed

[2019-05-29 06:06] #43 closed

[2019-05-31 05:55] tiagocoutinho commented on #49
Agree. The README is not up to date.

In previous versions of multivisor, before having a CLI, the module was `multivisor.server` but now it should be `multivisor.server.web`

[2019-06-01 14:08] guy881 commented on #49
Alright, fixed, thank you!

[2019-06-01 14:08] #49 closed

[2019-06-03 11:11] mdsajid786 opened #52 "Multivisor support dependencies"
Dear All,

I have tried to install multivisour as per the release notes (README.md) file. I have below versions of pip/nodejs/npm/supervisourd.

![image](https://user-images.githubusercontent.com/30176589/58797589-04d94700-861e-11e9-987c-fc610f630c3e.png)

Could anyone help me, which version of PIP, NodeJs, NPM, SupervisourD has to be installed in my servers?

[2019-06-04 20:58] guy881 commented on #52
Hello @mdsajid786,
Are you facing any troubles? Everything seems okay except your npm / node which are very old. Personally I have npm 6.5 which comes with node 11.9.

[2019-06-07 05:07] mdsajid786 commented on #52
Hello @guy881 ,

Yes am facing trouble while installing. while installing pip install . with the previous version, getting below error and asking to upgrade pip version. after upgrade also getting errors. attached logs FYR.
[console_logs.txt](https://github.com/tiagocoutinho/multivisor/files/3264448/console_logs.txt)

[2019-06-11 05:38] #42 closed

[2019-06-11 05:49] mdsajid786 commented on #52
Hello Guys,

can any one help on this ??

[2019-06-11 06:18] guy881 commented on #52
Hey, thanks for a bump. The warning about old version of pip shows always if you have old version of pip, but it's definitely not the reason of the problem.

The real problem is here:
[code]
It seems that you don't have gcc compiler? Are you running some kind of "slim" version of Linux?

[2019-06-11 07:19] mdsajid786 commented on #52
Thanks for your response.

I have installed gcc now and got some diff error. attached logs and snapshots.

I'm not aware on "slim" version of Linux and as i verified its now running on my machine.

[console_logs2.txt](https://github.com/tiagocoutinho/multivisor/files/3275163/console_logs2.txt)

![image](https://user-images.githubusercontent.com/30176589/59251346-3ddd7100-8c47-11e9-952a-bd15feed96c

[2019-06-11 07:46] guy881 commented on #52
Well, you don't have python development files. The procedure for installing those is dependent on your operating system / distribution. To give some reference https://stackoverflow.com/questions/21530577/fatal-error-python-h-no-such-file-or-directory

[2019-06-11 10:47] mdsajid786 commented on #52
Thanks for your support @guy881 . Now I have successfully installed multivisour on my machine.

And I tried to start/stop/restart a simple tomcat application through supervisord and multivisour. below one is the config file which is defined.

(From README.md file i have added all these configs.)
=============================================
[root@instance-1 full_example]# cat  /etc/supervisord.d/a

[2019-06-11 12:54] guy881 commented on #52
The configuration you posted is for supervisor, multivisor has separate config file. Please read README  once again.

[2019-06-11 13:24] mdsajid786 commented on #52
Yeah...!!!

I got it and saw the example files and configured on Tomcat application. below is the configuration but it's not showing in WEB and CLI as well. can you help me to find out the issue?

![image](https://user-images.githubusercontent.com/30176589/59275534-1a7fe980-8c7a-11e9-9561-e909a3497302.png)

Still its showing old program files only in the multivosour process even after restarting m

[2019-06-11 14:16] guy881 commented on #52
Multivisor is still running with config file called `multivisor.conf` which is the one from example I believe, that's why you've got all those processes here.
![image](https://user-images.githubusercontent.com/10159285/59279474-45f7d980-8c64-11e9-9fb0-517a4ac066d6.png)

[2019-06-11 14:53] laurent-claustre commented on #45
Hi, this issue is not critical, but if someone could make a try and tell me if I did something wrong.
Thanks

[2019-06-11 17:43] tiagocoutinho commented on #45
Hi @laurent-claustre, I will try to find some time to test on a windows machine at work tomorrow.
So far I cannot see that you have done anything wrong.

There are a lot of variables to take into account because of windows: supervisor-win stability, gevent + zerorpc on windows and, of course, multivisor developer making a big mistake ;-)

[2019-06-12 01:46] mdsajid786 commented on #52
Yes, that example file only I'm using. In those config files, I have added tomcat application config which I shared you the snapshot above. but still, a new process which I have added one is now showing.

![image](https://user-images.githubusercontent.com/30176589/59317761-f0621200-8ce1-11e9-8665-70c3b96597e0.png)

[2019-06-13 05:12] mdsajid786 commented on #52
Hello @guy881,

 I got it and issue resolved now. Thanks for your support.

I have one question here, with this multivisor can we configure mail alerts if any application goes down or shown in exited/stopped state. ?

[2019-06-13 06:59] guy881 commented on #52
Hey @mdsajid786,
I am glad you got it running. There is no such feature right now, you can open another issue if you're interested in such feature.

[2019-06-13 06:59] #52 closed

[2019-06-13 09:13] mdsajid786 opened #53 "Mail Alert configuration Through Multivisor"
Hi All,

Is it possible to configure email alerts through multivisor if any application is in exited or stop state?

[2019-07-03 11:57] string-areeb commented on #31
I think it'll be better if you just use your fork of the python2 library as they are not going to listen. It's not updated regularly, so there is no reason to wait for a new release and you won't be maintaining it as it is essentially legacy

[2019-07-25 22:44] guy881 commented on #31
Okay, I refactored the code to use [blinker](https://pythonhosted.org/blinker/) instead of louie. Of course It would be good to do some tests before merging this. Here's the PR: https://github.com/tiagocoutinho/multivisor/pull/40

[2019-08-01 06:32] tiagocoutinho commented on #31
Thanks @guy881. I will have a look

[2019-08-01 06:39] tiagocoutinho commented on #53
No, not at the moment.

I would advice doing this using one of the supervisor plugin tools (by means of graphene for example)

You would have to configure each supervisor instance individually. If you have many instances you could use ansible, puppet or salt to automatize this.

[2019-08-07 09:34] bxlkm opened #54 "build issue?"
17091 verbose stack     at Promise._fulfill (/usr/lib/node_modules/npm/node_modules/bluebird/js/release/promise.js:638:18)
17091 verbose stack     at /usr/lib/node_modules/npm/node_modules/bluebird/js/release/nodeback.js:42:21
17091 verbose stack     at <anonymous>
17092 verbose cwd /work/multivisor
17093 verbose Linux 3.10.0-957.10.1.el7.x86_64
17094 verbose argv "/usr/bin/node" "/usr/bin/npm" "i

[2019-08-07 15:31] guy881 commented on #54
Hello @bxlkm
Have you tried with more recent node version?

[2019-08-09 14:51] tiagocoutinho commented on #45
@laurent-claustre

I tried supervisor-win and could not reproduce your problem.
Multivisor daemon (running on a linux machine) starts and connects successfully to the supervisor-win pc. I am able to operate supervisor-win from multivisor just like any other supervisor.

Can you try to create connect a TCP socket to the zero rpc interface with netcat:
[code]
It is fine if you get these weird charac

[2019-08-12 15:57] laurent-claustre commented on #45
Hi @tiagocoutinho ,
nc is fine:
claustre@max:~$ nc wid10xmap1 9002
�
how did you install supervisor-win after having installed multivisor?
maybe the issue is related to the installation recipe ...

[2019-08-12 19:42] kindlyfire opened #55 "Configuration for running behind an Nginx proxy"
Hi. First off, thank you for creating multivisor, it's an amazing piece of software! I'd like to know if there's a recommended configuration for running it behind an Nginx proxy (and using HTTPS).

I always seem to get an error `GET https://<my domain>/api/stream 504` after a minute or so, and the panel then shows me the following error: `Couldn't connect to multivisor server, make sure it is runn

[2019-08-12 20:49] guy881 commented on #55
Hello @kindlyfire!
There seems to be some kind of timeout, the project is using so-called "server sent events" on this endpoint, so the connection should stay open. Personally, I haven't used multivisor with Nginx. Could you attach your Nginx configuration so I can reproduce the issue?

[2019-08-13 05:59] kindlyfire commented on #55
This is the Nginx configuration I run for my multivisor site:

[code]

[2019-08-13 06:51] tiagocoutinho commented on #45
Strange...

I created a conda environment with python 2.7 and then installed `supervisor-win` with `pip`

Do you mind if I make some tests directly in your `wid10xmap1`?

[2019-08-13 14:26] laurent-claustre commented on #45
I mean, you need to install multivisor conda package as well, to get supervisor creating interface for multivisor as defined in the configuration file:
; new rpc interface for multivisor
[rpcinterface:multivisor]
supervisor.rpcinterface_factory = multivisor.rpc:make_rpc_interface
bind=*:9002

[2019-10-09 23:40] dave4jr commented on #31
@tiagocoutinho Thanks for all your work on this. Any updates by chance?

[2019-11-28 00:10] bbjay opened #58 "pip2 install fails"
I get the following error when installing multivisor 5.0.2
[code]

Install with pip3 works, but then `$ multivisor` crashes with issues related to python3 incompatibility.

It looks like Louie v2.0 was released 3 months ago and dropped python 2.x support, so i needed to install an earlier version.
With `pip2 install Louie==1.1` it worked.

[2019-11-28 09:21] tiagocoutinho commented on #58
Looks like louie produced a version 2.0 which is incompatible with python < 3.7 in September 2019.
However they don't restrict `python_requires` on they project.
I already created a PR in their project to prevent this trap.

[2019-11-28 09:23] tiagocoutinho commented on #58
Should be fixed by #59. Thanks @bbjay!

[2019-11-28 09:23] #58 closed

[2019-12-20 14:11] bformet opened #66 "Configuration for reverse proxy"
Hey 👋, at ESRF beamlines we would like to be able to run multivisor behind a nginx reverse proxy at some specific location.

The nginx config would look like:

        location /multivisor/ {
                proxy_pass http://localhost:22000/;
        }

Thus we would need multivisor ressources to be relative to current path instead of absolute, and/or to have an option to configure the relative w

[2019-12-30 16:18] arthurstreeter opened #67 "When using for 20+ servers, the front-end hangs often."
It becomes very unresponsive. This is probably a very unique situation, but upon having many servers/processes being reported the entire front-end no matter the browser becomes terribly unresponsive.
Has anyone figured out a solution for this? I'm not the greatest at Vue.

I know I could possibly  divvy up my multivisor config file and run separate instances on different ports, but that defeats th

[2020-01-14 07:50] tiagocoutinho commented on #66
Makes sense to me.
Would you be willing to work on a PR?
I am not sure what is the best solution. I guess I prefer a solution that did not involve an extra command line option but if you think it is the best way to go, it is fine by me.

[2020-01-14 07:56] tiagocoutinho commented on #67
How many supervisor instances and how many processes are you trying?

Should I be able to reproduce the behaviour with only one supervisor instance with a lot of processes?

Agree. If multivisor is not scaling well we should tackle the problem. I thank you for reporting this. It helps multivisor be a better tool

[2020-01-14 18:03] arthurstreeter commented on #67
So I'm currently running about 30+ supervisor instances out of 80. Each one has about 6-10 processes that are being watched. There are times when a server may be acting up and a particular process is ended/started over and over again which causes the front-end to have a pop-up on the bottom right corner of the screen giving me an update each time it's instance's status changes. I'm not sure if tha

[2020-01-14 18:19] arthurstreeter commented on #67
Yes, I was able to replicate the same issue by having one supervisor instance with 6 processes repeated 40+ times (each time with a different supervisor name, but same url).

[2020-03-11 10:22] iwzd520 commented on #66
location ^~ /supervisord/
  {
    proxy_pass http://10.195.14.6:22000/;
  }

I have these question, too , I use it behind a nginx proxy. Because I only have one DNS，so Imust use the location path .
The static file can,t access，error code 404.

there is Elastic Kibana manual,it hava some describe about use proxy.Maybe we can refer to.

server.basePath:
Enables you to specify a path to mount Kibana

[2020-03-18 09:05] tiagocoutinho commented on #31
Hi, sorry for the long period of silence.
So, yeah this issue is quite important since supervisor has add support for python 3.

Its been a long time since I had a look last time at #40 so am afraid I need to review from zero.

I owe an apology to @guy881 for the lack of help with this issue.

[2020-11-21 15:59] tiagocoutinho commented on #31
Finally, thanks to the hard work of @guy881 this is merged in develop.
Will make a release soon

[2020-11-21 15:59] #31 closed

[2020-11-21 18:09] #54 closed

[2020-12-01 08:01] #22 closed

[2020-12-01 08:01] #45 closed

[2020-12-04 10:12] tiagocoutinho commented on #53
I hope this answered your question.
I am closing the issue. Feel free to reopen if you have more questions :-)

[2020-12-04 10:12] #53 closed

[2021-01-03 19:49] bbugyi200 opened #72 "TypeError exception is raised when attempting to login to multivisor using authentication"
My multivisor.conf file:
[code]

Directly after hitting the "Log In" button on the multivisor site (after putting in my creds), nothing changes on the web console and I see this in the logs:
[code]

[2021-01-11 21:20] bbugyi200 opened #74 "SyntaxError when running multivisor-rpc in Python2.7"
[code]

[2021-01-12 08:25] #72 closed

[2021-01-12 08:32] #74 closed

[2021-01-25 16:30] juarezr opened #76 "Thoughts on multivisor UI"
Thanks by the superb project that Multivisor is.

Some suggestions about his UI:

#### Restart button icon meaning is ambiguous

It's easy to confuse the `Restart` button with `Refresh` and accidentally trigger an unintended restart. Changing the icon to a clearer one, can be a solution in this case.

#### Restart/stop actions dangerously accessible

An interesting possibility of `Multivisor` is t

[2021-02-02 15:05] juarezr commented on #72
@tiagocoutinho,

Any plan to issue a point release with this bug fix?
Or maybe did you know if there is a workaround for enabling authentication without stumbling in this issue?

Exposing `multivisor` with no authentication is a blocker, unfortunately.

Thanks

[2021-02-19 08:50] tiagocoutinho commented on #76
Hi @juarezr ,
Thanks a lot for your suggestions. They really help improve the UX.
They all sound appealing.
Would you consider making a PR? I would be happy to review and integrate any of the proposals.

[2021-02-27 10:48] wackazong opened #77 "Hide multivisor-rpc from list"
I would like to not display the multivisor-rpc processes in the UI. How can I achieve that?

[2021-03-03 07:48] wackazong opened #78 "Secure RPC endpoints on servers"
Is there a possibility to include authentication in the communication with the supervisor processes via the eventlistener?

[2021-03-11 11:04] BrnSlr commented on #72
Any news on this ?

[2021-04-08 06:40] tiagocoutinho commented on #77
So far this is not possible.
You are not the first person to ask for this.

Since you are free to give the event listener a name of your choosing (the name "multivisor-rpc" is just a recommendation), mybe a regular expression filter in the multivisor configuration file would be the best thing.
This would allow also to filter out any other processes that you might not want in the gui.

Example:

[c

[2021-04-08 08:42] wackazong commented on #77
That sounds just perfect and a well suited general feature addition for a specific use case. Thanks.

[2021-08-30 03:04] Moeay opened #79 "question about multivisor UI"
hello.
recently，I've been using the multivisor, I have to say that it is a good application.And now I have a question about the multivisor UI,I use it by pip command,and now I want to change the language,but I can not find the VUE file,so,could you tell me how to do it?
thanks.

[2021-08-31 06:47] tiagocoutinho commented on #79
Thanks for your issue @Moeay.

Unfortunately the Multilingual functionality is not implemented in the project.

I am not able to dedicate the necessary effort but I am happy to revise and integrate any PR.

[2021-10-05 21:54] cathaychris opened #81 "missing/conflicting development dependencies"
I'd like to play around with developing the frontend for a custom application.

However, following the readme and installing in an environment using`npm` at 7.24.2 and `node` at 14.18.0 produces conflicts with the development dependencies.
In particular, with `webpack-dev-server`, which at `^3.1.14` requires `webpack-cli` at `^3.1.0`, which is not locked in `package-lock.json` or referenced in `pa

[2022-01-13 19:08] pilchita opened #85 "Add remote host to multivisor web server"
Hi, My question is about basic configuration. I will use one instance as a central server to manage all the processes I have up in other instances.

In multivisor web server i add this
[sql0]
url=10.54.130.5:9001

[sql1]
url=10.54.130.4:9001

In the remote instances I have added this configuration to the supervisor.

[rpcinterface:multivisor]
supervisor.rpcinterface_factory = multivisor.rpc:make_r

[2022-01-13 19:37] tiagocoutinho commented on #85
Can you paste the full supervisor configurations, please?

If you have `inet_http_server` and `rpcinterface:multivisor` sections make sure `port` in `inet_http_server` and `bind` in `rpcinterface:multivisor` are different. Example

[code]

[2022-01-14 13:19] pilchita commented on #85
Hi, thanks for the reply.
Here my supervisor configuration:

[code]
From the firewall of the instance where the web server is installed I have all the traffic allowed incoming from the instance where I installed the multivisor RPC service.

My Python application is running on port 9001, should I bind to port 9002 in order to manage it from the web interface?

Maybe it’s a configuration error of mi

[2022-01-18 07:23] tiagocoutinho commented on #85
To avoid port conflicts please configure it like this:

In each supervisor config file put
[code]
In your multivisor configuration file, for each supervisor:
[code]

Restart all supervisors and multivisor

[2022-01-18 18:14] pilchita commented on #85
@tiagocoutinho thanks for the reply.

From the instance where I installed the web servers I still do not see the supervisor of the client instances.

[code]
I don’t see any erros in the supervisor’s logs:

`2022-01-18 17:55:36,853 INFO RPC interface 'multivisor' initialized`

I try with eventlistener but not see process in the web server.

[code]
The tcp traffic is allowed in the instances, what e

[2022-01-20 14:23] pilchita commented on #85
The connection to port 9002 of the instance where the rpc interface is installed from the webserver can be done correctly
nc -v 10.54.130.34 9002
Connection to 10.54.130.34 9002 port [tcp/*] succeeded!

[2022-01-21 12:40] pilchita commented on #85
Hello, any helps?

[2022-01-31 04:26] lonerzzz opened #86 "Web Server port not being changed with --bind option"
I am attempting to run 2 instances of the web front end for 2 labs but the server port does not seem to change though there does seem to be a --bind option to change it in the code.

/usr/local/bin/multivisor --bind *:22002 -c /etc/multivisorDevelopment.conf

I had installed with pip install so not sure if there is a version issue or whether this really does not work.

[2022-01-31 21:11] lonerzzz commented on #86
Works just fine. Typo on my part.

[2022-01-31 21:11] #86 closed

[2022-02-16 14:18] exactstat opened #87 "rpc.py, line 117, ValueError if string is not standard"
In the rpc.py, line 117, parsing error if a string is not standard, like this:
`processname:websocket_vosk groupname:websocket_vosk pid:14 channel:stdout
DEBUG - 2022-02-16 14:13:03,092 - __main__ - start - Trying to load model at: /opt/vosk-models/vosk-model-small-en-us-0.15
LOG (VoskAPI:ReadDataFiles():model.cc:213) Decoding params beam=10 max-active=3000 lattice-beam=2
LOG (VoskAPI:ReadDataFile

[2022-02-21 06:31] tiagocoutinho commented on #87
Thanks for the report @exactstat.

I assume you're referring to `multivisor/rpc.py` (cause there's also a `multivisor/server/rpc.py`)

What do you you mean by "string is not standard"?

Could you send the complete multivisor.conf and supervisor.conf files?

Looks like maybe you've already found a solution. Would you be willing to write a PR with a fix?

[2022-02-23 09:15] exactstat commented on #87
Hi, @tiagocoutinho !

Here is my sandbox project with all .conf files required. [https://github.com/exactstat/api-sandbox.git](url)  (it's public)

Run the `docker compose up` and look at the std output:

![image](https://user-images.githubusercontent.com/34237705/155289895-150970fe-3a4e-487b-b568-2330eae21a2d.png)

I have a fix. I will create a pull request today.

[2022-02-23 09:40] exactstat commented on #87
I don't have access to the repo :)
Here is my fix in the `multivisor/rpc.py` in the `_process_event(self, event)` method.
I cut all characters after `channel:stdout` before parsing the `payload_str`. Because these characters contain logs with an unexpected structure that can't be parsed to a dict and probably should not be parsed.
[code]

[2022-03-29 12:39] wackazong opened #88 "Web Interface does not start"
I use a Dockerfile to set up a Docker container for multivisor. I install it on a Python 3.8 image as such:

[code]

But in the Docker logs I can see `ImportError: cannot import name 'run_with_reloader' from 'werkzeug.serving' (/usr/local/lib/python3.8/site-packages/werkzeug/serving.py)`

Please advise.

[2022-03-29 12:50] wackazong commented on #88
Seems that werkzeug 2.0.3 is the latest version that works. 2.1.0 produces the error.

[2022-04-08 22:28] exactstat commented on #88
RUN pip uninstall Werkzeug && \
    pip install Werkzeug==2.0.0

[2022-06-01 18:41] beenje opened #89 "multivisor not compatible with werkzeug >=2.1"
`run_with_reloader` was removed in `werkzeug` 2.1.0: <https://github.com/pallets/werkzeug/pull/2276>

[code]

[2022-07-04 09:35] AlekseiSaff commented on #55
still no luck with running multivisor with nginx

[2022-11-03 21:47] kratsg commented on #88
This is a working list of packages, the latest `Flask` (2.2.2) is also incompatible with this downgraded version of `werkzeug`:

[code]

[2022-11-03 23:09] kratsg commented on #66
I've managed to do this with a custom `Dockerfile` with some quick `sed` work that seems to work well (using traefik as a reverse-proxy):

[code]

and my `entrypoint.sh` looks like

[code]

Ideally, one would mount to `/multivisor.conf` in this example, but as you can see, it's only a few `sed` replacements to make it work correctly (dropping the absolute path).

[2022-11-07 20:19] elee1766 commented on #89
i have patched this locally by replacing run_with_reloader with run_simple, and adding arg use_reloader=True

it's in web.py

it seems to be working so far, not sure if anything else is broken yet.

[2022-11-23 21:55] mridzwan commented on #89
Changing the import module from werkzeug.serving to werkzeug._reloader also works

https://github.com/miguelgrinberg/Flask-SocketIO/commit/6563634e4c7836479ff5d38d20f4339e6bcf92ab